@charset "UTF-8";

.top {
    width: 100%;
    height: 500px;
    text-align: center;
    padding-bottom: 30px;
  } 

.top_img {
    width: 800px;
    height: 400px;
    text-align: center;
    margin: 0 auto;
}

.top_bg {
    width: 100%;
    height: 100%;
    padding-top: 100px;
  }

.brand {
    background-color: #F4F3EE;    
}

.inner {
    font-size: 46px;
    margin-bottom: 15px;    
}

.inner span {
    color:#E0AFA0;
}

.brand .intro {
    text-align: center;
    margin-bottom: 15px;
}

.brand_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}

.brand_item {
    margin-right: 20px;
}

.contents_txt {
    font-size: 22px;
}

.brand_item :hover {
    opacity: 0.7;
}

.brand p {
    text-align: center;
    font-size: 18px;
    padding-bottom: 10px;
}

@media screen and (max-width: 768px) {

    .top {
        width: 100%;
        height: 150px;
        text-align: center;
        padding-bottom: 190px;
        }  
    
    .top_img {
        width: 500px;
        height: 210px;
        margin: 0px auto;
        display: inline-block;
      }
      
      .top_bg {
        width: 100%;
        height: 100%;
    }

.brand_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

}
@media screen and (max-width: 480px) {

    .top {
        width: 100%;
        height: 150px;
        text-align: center;
        padding-bottom: 40px;
      }  

    .top_img {
        padding-top: 4px;
        width: 250px;
        height: 110px;
        text-align: center;
        margin: 0 auto;
    }

    .top_bg {
        width: 100%;
        height: 100%;
        padding-top: 50px;
      }
 
.brand p {
    text-align: center;
    font-size: 16px;
    padding-bottom: 10px;
}

}